fastapi==0.104.0
starlette==0.27.0
uvicorn==0.23.2
python-multipart==0.0.6
pydantic==2.5.2
opencv-python-headless==4.5.4.60
easyocr==1.6.2
huggingface_hub==0.14.1
sentence-transformers==2.2.2
numpy==1.25.2
faiss-cpu==1.7.4
werkzeug>=2.1.0
gunicorn==21.2.0